
<div class="main-container">
{% for collection in collections[section.settings.collection_to_display.handle].products %}
  
  <div id="PopupModal-{{ block.id }}" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>{{ collection.title }}</h2>
     
      <img src="{{ collection.image | img_url: 'small' }}" alt="Image">
    </div>
    <button class="popup-open" data-id ={{ collection.variants[0].id }} data-name={{ collection.title  }} data-price={{ collection.price }}>Popup</button>
     <button class="popup-close">Close</button>
  </div>

   <div class="popup-container">
    <h1> hiii from h tag {{ collection.title }}</h1>
    <p>hiii from p tag {{ collection.price }}</p>
  </div>
{% endfor %}

 

</div>

<script>
  
    $(".popup-open").click(function() {
        
        const element = $(this).attr("data-id"); 
        console.log("attrrrr" , element)
       
        $(".popup-container").css("display", "block");
        
   
    });

  $(".popup-close").click(function() {
        
  $(".popup-container").css("display", "none");
  console.log("attrrrr" , element)
   
    });
  
  
   
</script>

<style>

  .main-container{
    position:relative;
    
  }
  .popup-container{
    display:none;
    position:absolute;
    width:300px;
    height:300px;
    background-color:black;
    color:white;
    left:100px;
    bottom:100px;
  }

  /* .modal{
    max-width:300px;
    max-height:300px;
  } */
</style>


{% schema %}
   {
  "name": "Collection Section",
  "settings": [
    {
      "type": "text",
      "label": "Section Title",
      "id": "title",
      "default": "Enter The Title"
    },
     {
      "type": "image_picker",
      "label": "Enter image",
      "id": "image"
      
    },
    {
      "type": "collection",
      "label": "Collection to Display",
      "id": "collection_to_display"
    }
  ], "presets":[{
      "category":"Popup",
      "name":"Popup"
    }]
}
{% endschema %}
